[Desktop Entry]
Version=1.0
Type=Application
Name=Foamium Browser
GenericName=Web Browser
Comment=Fast, Native, Secure Web Browser
Icon=org.foamium.Browser
Exec=foamium_app
Terminal=false
Categories=Network;WebBrowser;
Keywords=browser;web;internet;
StartupNotify=true
StartupWMClass=foamium_app
